*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --orange:#e15307;
    --white:#ffffff;
    --green:#10af2a;

    --flag-height:200px;
}

main{
    height: 100vh;
    display: grid;
    place-items: center;

    background-color:rgb(162, 184, 223);
}

.flag{
    aspect-ratio: 7/6;
    height: var(--flag-height);

    display: flex;
    flex-direction: column;
}
.strips{
    flex-grow: 1;
}

.orange{
    background-color: var(--orange);
}

.white{
    background-color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;

}
.circle{
    background-color: var(--orange);
    aspect-ratio: 1;
    height: 85%;
    border-radius: 50%;

}
.green{
    background-color: var(--green);
}