:root {
  --font-main: "Noto Sans", sans-serif;
  --bg-main: #311417;
  --bg-card: #1e1f26;
  --bg-starts: #131417;
  --username: #b7bbc8;
}

html,
body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: var(--bg-main);

  display: grid;
  place-content: center;
  height: 100vh;
  font-family: var(--font-main);
}
p,
h3 {
  margin: 0;
  padding: 0;
}
ul {
  padding-left: 0;
}
ul li {
  list-style-type: none;
}

.card {
  max-width: 300px;
  background: var(--bg-card);
  margin: auto;
}

.card-thumnail img {
  max-width: 100%;
  object-fit: cover;
  /* ALWASY MAINATIN THE ASPECT RATIO */
}

.card-body {
  display: flex;

  gap: 1em;
  margin: 1em;
}
.card-details {
  line-height: 1.5;
}
.card-details h3 {
  font-weight: 900;
  font-size: 1rem;
}
.card-details p {
  font-size: 0.85rem;
  color: var(--username);
}
.card-avatar img {
  height: 40px;
  aspect-ratio: 1;
}
.card-stats {
  display: none;
  margin: 1em;
  padding-bottom: 0.5em;
}
.card-stats li {
  background-color: var(--bg-starts);
  padding: 0.25em 0.5em;
  margin-right: 0.5em;
  border-radius: 5px;
}
.card:hover .card-stats {
  display: flex;
}
.card:hover {
  padding-bottom: 0;
}
